extends layout

block content
  h2.app-title ci-button
  
  h3 Button

  button.ci-button DEFAULT
  button.ci-button.ci-button_primary PRIMARY
  button.ci-button.ci-button_secondary SECONDARY
  

  h3 Radius Button

  button.ci-button.ci-button_radius DEFAULT
  button.ci-button.ci-button_radius.ci-button_primary PRIMARY
  button.ci-button.ci-button_radius.ci-button_secondary SECONDARY
  
  h3 Border Button

  button.ci-button.ci-button_border DEFAULT
  button.ci-button.ci-button_border.ci-button_primary PRIMARY
  button.ci-button.ci-button_border.ci-button_secondary SECONDARY

  h3 Raised Button

  button.ci-button.ci-button_raised DEFAULT
  button.ci-button.ci-button_raised.ci-button_primary PRIMARY
  button.ci-button.ci-button_raised.ci-button_secondary SECONDARY
  
  h3 All Style Button

  button.ci-button.ci-button_border.ci-button_radius.ci-button_raised DEFAULT
  button.ci-button.ci-button_border.ci-button_radius.ci-button_raised.ci-button_primary PRIMARY
  button.ci-button.ci-button_border.ci-button_radius.ci-button_raised.ci-button_secondary SECONDARY



  h3 Flat Button

  button.ci-button_flat DEFAULT
  button.ci-button_flat.ci-button_primary PRIMARY
  button.ci-button_flat.ci-button_secondary SECONDARY

  h3 Radius Button

  button.ci-button_flat.ci-button_radius DEFAULT
  button.ci-button_flat.ci-button_radius.ci-button_primary PRIMARY
  button.ci-button_flat.ci-button_radius.ci-button_secondary SECONDARY
  
  h3 Border Button

  button.ci-button_flat.ci-button_border DEFAULT
  button.ci-button_flat.ci-button_border.ci-button_primary PRIMARY
  button.ci-button_flat.ci-button_border.ci-button_secondary SECONDARY

  h3 Raised Button

  button.ci-button_flat.ci-button_raised DEFAULT
  button.ci-button_flat.ci-button_raised.ci-button_primary PRIMARY
  button.ci-button_flat.ci-button_raised.ci-button_secondary SECONDARY

  h3 All Style Button

  button.ci-button_flat.ci-button_border.ci-button_radius.ci-button_raised DEFAULT
  button.ci-button_flat.ci-button_border.ci-button_radius.ci-button_raised.ci-button_primary PRIMARY
  button.ci-button_flat.ci-button_border.ci-button_radius.ci-button_raised.ci-button_secondary SECONDARY
