extends layout

block content
  h2.app-title ci-button
  
  h3 Button

  button.ci-button DEFAULT
  button.ci-button.ci-button_primary PRIMARY
  button.ci-button.ci-button_secondary SECONDARY


  h3 Radius Button

  button.ci-button.ci-button_radius DEFAULT
  button.ci-button.ci-button_radius.ci-button_primary PRIMARY
  button.ci-button.ci-button_radius.ci-button_secondary SECONDARY


  h3 Border Button

  button.ci-button.ci-button_border DEFAULT
  button.ci-button.ci-button_border.ci-button_primary PRIMARY
  button.ci-button.ci-button_border.ci-button_secondary SECONDARY


  h3 Raised Button

  button.ci-button.ci-button_raised.ci-button_border DEFAULT
  button.ci-button.ci-button_raised.ci-button_border.ci-button_primary PRIMARY
  button.ci-button.ci-button_raised.ci-button_border.ci-button_secondary SECONDARY
  
  h3 All Style Button

  button.ci-button.ci-button_border.ci-button_radius.ci-button_raised DEFAULT
  button.ci-button.ci-button_border.ci-button_radius.ci-button_raised.ci-button_primary PRIMARY
  button.ci-button.ci-button_border.ci-button_radius.ci-button_raised.ci-button_secondary SECONDARY


  h3 Flat Button

  button.ci-button-flat DEFAULT
  button.ci-button-flat.ci-button_primary PRIMARY
  button.ci-button-flat.ci-button_secondary SECONDARY


  h3 Flat Radius Button

  button.ci-button-flat.ci-button_radius DEFAULT
  button.ci-button-flat.ci-button_radius.ci-button_primary PRIMARY
  button.ci-button-flat.ci-button_radius.ci-button_secondary SECONDARY


  h3 Flat Border Button

  button.ci-button-flat.ci-button_border DEFAULT
  button.ci-button-flat.ci-button_border.ci-button_primary PRIMARY
  button.ci-button-flat.ci-button_border.ci-button_secondary SECONDARY


  h3 Flat Raised Button

  button.ci-button-flat.ci-button_raised.ci-button_border DEFAULT
  button.ci-button-flat.ci-button_raised.ci-button_border.ci-button_primary PRIMARY
  button.ci-button-flat.ci-button_raised.ci-button_border.ci-button_secondary SECONDARY


  h3 All Style Button

  button.ci-button-flat.ci-button_border.ci-button_radius.ci-button_raised DEFAULT
  button.ci-button-flat.ci-button_border.ci-button_radius.ci-button_raised.ci-button_primary PRIMARY
  button.ci-button-flat.ci-button_border.ci-button_radius.ci-button_raised.ci-button_secondary SECONDARY

  h3 Button Size
  
  div
    button.ci-button.ci-button_radius.ci-button_small DEFAULT
    button.ci-button.ci-button_radius.ci-button_primary.ci-button_small PRIMARY
    button.ci-button.ci-button_radius.ci-button_secondary.ci-button_small SECONDARY
    
  div
    button.ci-button.ci-button_radius DEFAULT
    button.ci-button.ci-button_radius.ci-button_primary PRIMARY
    button.ci-button.ci-button_radius.ci-button_secondary SECONDARY

  div
    button.ci-button.ci-button_radius.ci-button_big DEFAULT
    button.ci-button.ci-button_radius.ci-button_primary.ci-button_big PRIMARY
    button.ci-button.ci-button_radius.ci-button_secondary.ci-button_big SECONDARY

  h3 Floating Action Button

  button.ci-button-fab Del
  button.ci-button-fab.ci-button_primary Add
  button.ci-button-fab.ci-button_secondary Top

  button.ci-button-fab.ci-button_small Del
  button.ci-button-fab.ci-button_primary Add
  button.ci-button-fab.ci-button_secondary.ci-button_big Top

  h3 Block Button

  div(style="width: 320px; margin: 0 auto;")
    button.ci-button-block.ci-button_radius DEFAULT
    button.ci-button-block.ci-button_primary.ci-button_radius PRIMARY
    button.ci-button-block.ci-button_secondary.ci-button_radius SECONDARY
    
    button.ci-button-block.ci-button_radius.ci-button_big DEFAULT
    button.ci-button-block.ci-button_primary.ci-button_radius.ci-button_big PRIMARY
    button.ci-button-block.ci-button_secondary.ci-button_radius.ci-button_big SECONDARY
